---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 Not Found">
    <div class="flex flex-grow justify-center py-4 px-4">
        <h1 class="text-5xl text-white font-bold">
            404 - Content Not Found
        </h1>
    </div>
</Layout>